@import '../../../utils/constants/constants.scss';

.map {
  @include flex-center();
  width: 100%;
  flex-direction: column;
  background-color: #e3ecf5;
}

.map__title {
  @include text-size(30px, 700, 36px);
  color: $color-pink;
  margin: 56px 0 63px;
}

.map__info {
  list-style: none;
  @include indent-null();
  @include size-blocks($width-main-blocks, auto);
  @include flex-between();
}

.map__info-item {
  position: relative;
  box-sizing: border-box;
  @include size-blocks(23%, auto);
  @include text-size(14px, 700, 22px);
  text-align: center;
  border-radius: 14px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.03);
  padding: 43px 5px 10px;
  background-color: white;
  &::before {
    position: absolute;
    content: '';
    top: -29%;
    left: calc((100% - 30%) / 2);
    @include size-blocks(30%, 70%);
    border-radius: 50%;
    background-color: white;
  }
  .map__info-icon {
    position: absolute;
    top: -11%;
    left: calc((100% - 17%) / 2);
    @include size-blocks(17%, 42%);
  }
}

.map__map {
  @include size-blocks($width-main-blocks, 322px);
  margin: 32px 0 74px;
  & > ymaps {
    border-radius: 14px;
    overflow: hidden;
  }
}
