@import '../../../../utils/constants/constants.scss';

.newProduct__card {
  @include size-adapt-blocks(255px, 99px);
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 12px;
  margin-right: 30px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);

  &:last-child {
    margin-right: 0;
  }
}

.newProduct__image {
  width: 71px;
  height: 71px;
  margin: 0 25px 0 17px;
}

.newProduct__text {
  @include text-size(18px, 700, 22px);
}

.newProduct__price {
  @include text-size(16px, 600, 20px);
  color: $color-pink;

  .newProduct__rub {
    @include rub($color-pink);
  }
}
