@import '../../../utils/constants/constants.scss';

.new-products {
  @include size-blocks($width-main-blocks, 161px);
  position: relative;
}

.new-products::after {
  content: '';
  top: 0;
  right: -15%;
  bottom: 0;
  width: 10%;
  position: absolute;
  z-index: 3;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(144, 144, 144, 0.8)
  );
}

.new-products::before {
  content: '';
  top: 0;
  left: -15%;
  bottom: 0;
  width: 10%;
  position: absolute;
  z-index: 8;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgba(144, 144, 144, 0.8)
  );
}

.new-products__title {
  @include indent-null();
  @include text-size(24px, 700, 29px);
}

.new-products__container {
  position: absolute;
  top: 53px;
  left: -15%;
  z-index: 1;
  width: 130%;
  height: 120px;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.new-products__container-drag {
  display: flex;
  padding: 0;
  margin: 0 11.5%;
}

.new-products__onion {
  position: absolute;
  top: 0;
  left: -40px;
  @include size-blocks(58px, 191px);
  transform: rotate(-20deg);
  z-index: 0;
}

@media (max-width: 1100px) {
  .new-products__container {
    margin-top: 20px;
  }
}

@media (max-width: 1000px) {
  .new-products {
    @include size-blocks(77%, 141px);
  }

  .new-products__container {
    top: 33px;
  }

  .new-products__title {
    text-align: center;
  }

  .new-products__onion {
    @include size-blocks(45px, 150px);
    left: -30px;
  }
}

@media (max-width: 600px) {
  .new-products {
    @include size-blocks(170px, 141px);
  }
  .new-products::after {
    right: -75px;
  }
  .new-products:before {
    left: -75px;
  }

  .new-products__container {
    width: 318px;
    margin-top: 15px;
    left: -74px;
  }

  .new-products__container-drag {
    margin-left: 77px;
  }

  .new-products__title {
    text-align: center;
  }

  .new-products__onion {
    @include size-blocks(40px, 130px);
    left: -30px;
    top: 10px;
  }
}
