@import '../../../utils/constants/constants.scss';

.newProducts {
  @include size-blocks($width-main-blocks, 161px);
  position: relative;
}

.newProducts__title {
  @include indent-null();
  @include text-size(24px, 700, 29px);
}

.newProducts__container {
  position: absolute;
  @include flex-between();
  padding: 0;
  margin-top: 33px;
  width: 100%;
  z-index: 1;
}

.newProducts__onion {
  position: absolute;
  top: 0;
  left: -40px;
  @include size-blocks(58px, 191px);
  transform: rotate(-20deg);
  z-index: 0;
}

@media (max-width: 1100px) {
  .newProducts__container {
    margin-top: 20px;
  }
}

@media (max-width: 1000px) {
  .newProducts {
    @include size-blocks(360px, 210px);
  }

  .newProducts__container {
    width: 100%;
    flex-wrap: wrap;
  }

  .newProducts__title {
    text-align: center;
  }

  .newProducts__onion {
    @include size-blocks(50px, 160px);
  }
}

@media (max-width: 600px) {
  .newProducts {
    @include size-blocks(170px, 362px);
  }

  .newProducts__container {
    margin-top: 15px;
    flex-direction: column;
  }

  .newProducts__title {
    text-align: center;
  }

  .newProducts__onion {
    @include size-blocks(40px, 130px);
    left: -30px;
  }
}
