@import '../../utils/constants/constants.scss';

.footer {
  position: relative;
  width: $width-main-blocks;
  display: flex;
}

// левый и правый блоки
.footer__blocks {
  position: relative;
  width: 50%;
  padding-bottom: 62px;
  &:nth-of-type(2) {
    margin-left: 10%;
    width: 40%;
  }
}

.footer__logo-container {
  @include size-blocks(100%, 60px);
  display: grid;
  grid-template-columns: 60px 132px;
  grid-template-rows: 1fr 1fr;
  gap: 0 18px;
  margin: 56px 0 39px;
  .footer__logo {
    grid-row: span 2;
    @include size-blocks(60px, 100%);
  }
  .footer__logo-title {
    @include indent-null();
    @include text-size(39px, 800, 47px);
    letter-spacing: -1%;
    font-family: 'Panton';
  }
  .footer__logo-subtitle {
    @include indent-null();
    @include text-size(9px, 600, 12px);
    letter-spacing: -1.5%;
  }
}

.footer__info {
  @include indent-null();
  @include text-size(16px, 700, 28px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: fit-content(51px);
  gap: 14px;
  list-style: none;
  color: #0e0c0d;

  &-link {
    display: flex;
    align-self: center;
    text-decoration: none;
    color: #0e0c0d;
    cursor: $cursor;
  }

  .footer__info-social {
    font-weight: 600;
  }
}

.footer__info-item:nth-of-type(3) {
  grid-column: span 2;
}

// правый блок
.footer__social-title {
  @include text-size(14px, 700, 17px);
  margin: 74px 0 36px;
}

.footer__social-container {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 22.5%);
  grid-template-rows: repeat(2, 52px);
  gap: 14px 3%;
  padding: 0;
}

.footer__social-item {
  border: 2px solid #e3ecf5;
  border-radius: 13px;

  .footer__social-link {
    @include size-blocks(100%, 100%);
    @include flex-center();

    .footer__social-icon {
      @include size-blocks(30px, 30px);
    }
  }

  &:last-child {
    grid-column: span 2;
    .footer__social-button {
      @include text-size(13px, 700, 16px);
      @include size-blocks(100%, 100%);
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}

.footer__phone {
  @include text-size(30px, 700, 37px);
  color: $color-pink;
  margin: 47px 0 19px;
}

.footer__button {
  @include size-blocks(180px, 42px);
  @include text-size(14px, 700, 28px);
  border: none;
  border-radius: 28px;
  background-color: #f3f3f7;
}

.footer__image {
  width: 62%;
  position: absolute;
  bottom: 0;
  right: -27%;
  z-index: 1;
}

.footer__year {
  position: absolute;
  bottom: 70px;
  width: 100%;
  @include text-size(14px, 600, 28px);
  margin-top: 42px;
}

.footer__cards {
  position: absolute;
  top: -18px;
  right: 48%;
  list-style: none;
  @include flex-between();
  align-items: center;
  width: 140px;
  .footer__card {
    @include size-blocks(36px, 36px);
  }
}
