@import '../../utils/constants/constants.scss';

.header {
  @include size-blocks(77%, auto);
  @include flex-between();
  flex-direction: column;
}

.header__shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 53%);
  background-color: rgb(0, 0, 0, 0.9);
  max-width: 500px;
  height: 200vh;
  z-index: 4;
}

.header__info {
  position: relative;
  @include flex-between();
}

.header__menu-icon {
  display: none;
  position: absolute;
  width: 28px;
  top: 19px;
  right: 0;
  cursor: pointer;
  z-index: 7;
}

.header__info-left-side {
  display: flex;
}

.header__logo-container {
  display: flex;
}

.header__logo {
  @include size-blocks(64px, 64px);
}

.header__title-container {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}

.header__title {
  @include text-size(39px, 800, 45px);
  @include indent-null();
  letter-spacing: -1%;
  font-family: 'Panton';
}

.header__subtitle {
  @include text-size(10px, 600, 11px);
  @include indent-null();
  letter-spacing: -1.5%;
}

.header__town {
  @include text-size(18px, 600, 22px);
  @include indent-null();
  margin: 5px 0 0 80px;
}

.header__town-time-delivery {
  @include text-size(14px, 600, 17px);
  margin-top: 5px;
}

.header__town-color-pink {
  color: $color-pink;
  cursor: pointer;
}

.header__info-right-side {
  display: flex;
  align-items: center;
  height: 42px;
  margin-top: 6px;
}

.header__button {
  @include text-size(14px, 700, 28px);
  @include size-blocks(180px, 100%);
  color: #696f7a;
  border: none;
  padding: 0;
  border-radius: 28px;
  margin-right: 28px;
  cursor: pointer;
}

.header__phone {
  @include text-size(26px, 700, 32px);
  @include indent-null();
  color: $color-pink;
}
