@import '../../../utils/constants/constants.scss';

@media (max-width: 1300px) {
  .navbar__link {
    @include text-size(14px, 600, 18px);
  }

  .navbar__link-auth {
    margin-right: 20px;
  }

  .navbar__basket {
    @include text-size(15px, 600, 28px);
    @include size-blocks(150px, 38px);
  }
}

@media (max-width: 1100px) {
  .navbar__links {
    width: 100%;
  }

  .navbar__link {
    @include text-size(13px, 600, 18px);
  }

  .navbar__basket-container {
    position: absolute;
    top: -44px;
    right: 0;
  }

  .navbar__link-auth {
    @include text-size(14px, 700, 28px);
  }

  .navbar__basket {
    @include text-size(13px, 600, 26px);
    @include size-blocks(140px, 34px);
  }
}

@media (max-width: 700px) {
  .navbar {
    @include size-blocks(auto, 0);
  }

  .navbar__links {
    position: absolute;
    top: -280px;
    left: -150px;
    width: 280px;
    @include flex-center();
    flex-direction: column;
    z-index: 5;
  }

  .navbar__link {
    color: white;
    letter-spacing: 1px;
    &:focus {
      border-bottom: 1px solid white;
    }
  }

  .navbar__item {
    margin-top: 20px;
  }

  .navbar__basket-container {
    top: -44px;
    left: 0;
    right: 0;
  }

  .navbar__link-auth {
    margin-right: 10px;
  }
}
