@import '../../../utils/constants/constants.scss';

.navbar {
  position: relative;
  @include flex-between();
  @include size-blocks(100%, 42px);
  align-items: center;
}

.navbar__links {
  width: 73%;
  @include indent-null();
  list-style: none;
  @include flex-between();
}

.navbar__link {
  @include text-size(15px, 600, 18px);
  color: #0e0c0d;
  @include size-blocks(100%, 100%);
  text-decoration: none;
}

.navbar__basket-container {
  @include flex-center();
}

.navbar__link-auth {
  @include text-size(16px, 700, 28px);
  text-decoration: none;
  color: #696f7a;
  margin-right: 30px;
}

.navbar__basket {
  @include text-size(16px, 600, 28px);
  @include size-blocks(160px, 42px);
  color: white;
  background-color: $color-pink;
  border-style: none;
  border-radius: 6px;

  &-counter {
    margin-left: 11px;
    padding-left: 18px;
    border-left: 2px solid white;
  }
}
