@import '../../../utils/constants/constants.scss';

.products {
  width: 77%;
  @include flex-center();
  flex-direction: column;
}

.products__homePage {
  margin: 51px 0 64px;
}

.products__title {
  @include text-size(30px, 700, 36px);
  @include indent-null();
  align-self: flex-start;
  color: $color-pink;
}

.products__container {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 253px));
  gap: 48px 34px;
  margin: 26px 0 0;
}

@media (max-width: 1000px) {
  .products {
    width: 570px;
  }

  .products__homePage {
    margin: 51px 0 40px;
  }

  .products__container {
    grid-template-columns: repeat(3, 170px);
    gap: 30px;
    margin: 26px 0 0;
  }

  .products__title {
    align-self: center;
  }
}

@media (max-width: 600px) {
  .products {
    width: 370px;
  }
  .products__container {
    grid-template-columns: repeat(2, 170px);
    gap: 30px;
  }
}

@media (max-width: 450px) {
  .products {
    width: 260px;
  }

  .products__container {
    grid-template-columns: 170px;
  }
}
